html {
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }
}

.invisible {
  visibility: hidden;
}

.extractor-toast {
  border-radius: 4px;
}

.extractor-error {
  background: var(--error-container);
  color: var(--on-error-container);
}

.extractor-warning {
  background-color: rgb(250, 131, 4);
  color: var(--on-surface);
}

.extractor-info {
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
}

.extractor-done {
  background-color: rgb(14, 123, 2);
  color: var(--on-surface);
}

.row {
  margin-block-start: 0;
  &.first {
    margin-block-start: 0.6rem;
  }
}

.row.wrap {
  white-space: wrap;
  gap: 0;

  .txt {
    flex: inherit;
  }
}
